:root{
    --primary: #6eb3df;
    --primary-hover: #5AA4D4;
    --heading: #1A1A1A;
    --paragraph: #555555;
    --text-secondary: #191919;
    --white-text: #ffffff;
    --bg: #FFFFFF;
    --border: #EAEAEA;
}

::selection {
    background-color: var(--primary);
    color: var(--white-text);
}

body {
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

a {
    text-decoration: none;
}

/*Login/Register*/
.box {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.form-box h2 {
    font-size: 3rem;
}

.form-box h2 span {
    color: var(--primary-hover);
}

.form-control {
    border-color: var(--border);
}

.form-control:focus {
    border-color: var(--primary-hover);
    box-shadow: none !important;
}

.form-control::placeholder {
    font-size: .875rem;
}

.form-box button {
    width: 100%;
    background-color: var(--primary);
    color: var(--white-text);
    font-weight: 600;
    transition: .5s ease-in;
}

.form-box button:hover {
    background-color: var(--primary-hover);
    color: var(--white-text);
}

.form-box p a {
    color: var(--primary);
    transition: .6s ease-in;
}
 
.form-box p a:hover {
    color: var(--primary-hover);
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .form-box h2 {
        font-size: 2rem;
    }
}
/*Login/Register*/
/****************/
/*header*/
header .upper-header {
    border-bottom: 1px solid var(--border);
}

header .upper-header p {
    color: var(--paragraph);
    font-size: .875rem;
    animation: move 6s linear infinite;
}

@keyframes move {
    from { transform: translateX(-100%); }
    to { transform: translateX(100%); }
}
/*navbar*/
.navbar-brand {
    color: var(--heading) !important;
    font-weight: bold;
    font-size: 1.875rem;
}

.tagline {
    color: #808080;
    font-size: .875rem;
    font-family: "Raleway", sans-serif;
    letter-spacing: 5%;
}

.nav-link {
    color: var(--text-secondary);
    margin-inline: 0.63rem;
    font-weight: 500;
}

.nav-link:hover {
    color: var(--primary-hover);
}

.navbar-toggler {
    border: 2px solid var(--border);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.group .links a {
    color: var(--white-text);
    border-radius: 8px;
    padding: 12px 18px;
    border: 1px solid transparent;
    transition: .5s ease-in;
}

.group .links a:first-child {
    background-color: var(--heading);
}

.group .links a:last-child {
    background-color: var(--primary);
}

.group .links a:first-child:hover {
    background: transparent;
    color: var(--heading);
    border-color: var(--heading);
}

.group .links a:last-child:hover {
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);
}

@media (max-width: 992px) {
    .group {
        margin-top: 20px;
    }
}
/*navbar*/
/*header*/
/****************/
